﻿
:root {
    --primary-color: #010712;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --button-color: #3B3636;
    --h1-color: #3F444C;
}

[data-theme="dark"] {
    --primary-color: #FCFDFD;
    --secondary-color: #818386;
    --bg-color: #010712;
    --button-color: #818386;
    --h1-color: #FCFDFD;
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.contact-container {
    display: flex;
    width: 95vw;
    height: 100vh;
    background: linear-gradient(to top, #235cf2 10%, white 60%);
}

.left-col {
    width: 45vw;
    height: 100%;
    background-image: url("https://assets-global.website-files.com/638f532e7e769f0c4f3fbb53/639207a516c34d0445f17d22_coming-soon-container-cargo-x-webflow-template-p-800.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 10rem;
    padding: 1.5rem;
}

.right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
}

h1, label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

h1 {
    color: var(--h1-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
}

p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
}

label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
}

form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
}

input, textarea, label {
    width: 40vw;
    display: block;
}

p, placeholder, input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
}

    input::placeholder, textarea::placeholder {
        color: var(--primary-color);
    }

input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
}

textarea {
    resize: none;
}

button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

input:hover, textarea:hover {
    opacity: 0.5;
}

button:hover {
    background: #5356FF;
}

button:active {
    opacity: 0.8;
}

input:checked + .slider {
    background-color: var(--button-color);
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

#error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
}

#success-msg {
    transition-delay: 3s;
}

@media only screen and (max-width: 950px) {
    .logo {
        width: 8rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    p {
        font-size: 0.7rem;
    }

    input, textarea, button {
        font-size: 0.65rem;
    }

    .description {
        font-size: 0.3rem;
        margin-left: 0.4rem;
    }

    button {
        width: 7rem;
    }

    .theme-switch-wrapper {
        width: 120px;
    }

    .theme-switch {
        height: 28px;
        width: 50px;
    }

        .theme-switch input {
            display: none;
        }

    .slider:before {
        background-color: #fff;
        bottom: 0.25rem;
        content: "";
        width: 20px;
        height: 20px;
        left: 0.25rem;
        position: absolute;
        transition: .4s;
    }

    input:checked + .slider:before {
        transform: translateX(16px);
    }

    .slider.round {
        border-radius: 15px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.faq_body {
    font-family: 'Lato', sans-serif;
    background: background-color: white;
    color: black;
}

.faq_title {
    font-family: 'Lato', sans-serif;
    margin: 50px 0 30px;
    text-align: center;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq {
    background-color: transparent;
    border: 2px solid #378CE7;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
}

    .faq.active {
        background-color: #DFF5FF;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    }

.faq-title {
    margin: 0 35px 0 0;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: #5356FF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 26px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.chevron, .close {
    width: 12px;
    height: 12px;
}

.faq-toggle .close {
    display: none;
}

.faq.active .faq-toggle .close {
    display: block;
}

.faq.active .faq-toggle .chevron {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #5356FF;
    border-radius: 50%;
    color: #ffffd9;
}