﻿

@model IEnumerable<LogisticsWebsite_WebProgramingProject.Models.Ship>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>CargoX - Admin</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="https://assets-global.website-files.com/644fdfe30805352e528a6521/644fdfe3080535765d8a6572_black-logo-cargo-x-webflow-template.svg">
	<link href="~/css/assets/css/app.min.css" rel="stylesheet" />


</head>
<body>
	<div style="padding-top: 100px">

		<div class="app">
			<div class="layout">
				<!-- Header START -->
				<div class="header">
					<div class="logo logo-dark" style="padding-top: 10px">
						<a asp-controller="Home" asp-action="Index">
							@* <img src="~/assets/images/logo/logo.png" alt="Logo">*@
							<img src="https://assets-global.website-files.com/644fdfe30805352e528a6521/644fdfe3080535765d8a6572_black-logo-cargo-x-webflow-template.svg" alt="Logo">
						</a>
					</div>
					<div class="logo logo-white" style="padding-top: 10px">
						<a asp-controller="Home" asp-action="Index">
							<img src="https://assets-global.website-files.com/644fdfe30805352e528a6521/644fdfe3080535765d8a6572_black-logo-cargo-x-webflow-template.svg" alt="Logo">
						</a>
					</div>
					<div class="nav-wrap">
						<ul class="nav-left">
							<li class="desktop-toggle">
								<a href="javascript:void(0);">
									<i class="anticon"></i>
								</a>
							</li>
							<li class="mobile-toggle">
								<a href="javascript:void(0);">
									<i class="anticon"></i>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" data-toggle="modal" data-target="#search-drawer">
									<i class="anticon anticon-search"></i>
								</a>
							</li>
						</ul>
						<ul class="nav-right">
							<li class="dropdown dropdown-animated scale-left">
								<a href="javascript:void(0);" data-toggle="dropdown">
									<i class="anticon anticon-bell notification-badge"></i>
								</a>
								<div class="dropdown-menu pop-notification">
									<div class="p-v-15 p-h-25 border-bottom d-flex justify-content-between align-items-center">
										<p class="text-dark font-weight-semibold m-b-0">
											<i class="anticon anticon-bell"></i>
											<span class="m-l-10">Notification</span>
										</p>
										<a class="btn-sm btn-default btn" href="javascript:void(0);">
											<small>View All</small>
										</a>
									</div>
									<div class="relative">
										<div class="overflow-y-auto relative scrollable" style="max-height: 300px">
											<a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
												<div class="d-flex">
													<div class="avatar avatar-blue avatar-icon">
														<i class="anticon anticon-mail"></i>
													</div>
													<div class="m-l-15">
														<p class="m-b-0 text-dark">You received a new message</p>
														<p class="m-b-0"><small>8 min ago</small></p>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
												<div class="d-flex">
													<div class="avatar avatar-cyan avatar-icon">
														<i class="anticon anticon-user-add"></i>
													</div>
													<div class="m-l-15">
														<p class="m-b-0 text-dark">New user registered</p>
														<p class="m-b-0"><small>7 hours ago</small></p>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
												<div class="d-flex">
													<div class="avatar avatar-red avatar-icon">
														<i class="anticon anticon-user-add"></i>
													</div>
													<div class="m-l-15">
														<p class="m-b-0 text-dark">System Alert</p>
														<p class="m-b-0"><small>8 hours ago</small></p>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="dropdown-item d-block p-15 ">
												<div class="d-flex">
													<div class="avatar avatar-gold avatar-icon">
														<i class="anticon anticon-user-add"></i>
													</div>
													<div class="m-l-15">
														<p class="m-b-0 text-dark">You have a new update</p>
														<p class="m-b-0"><small>2 days ago</small></p>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="dropdown dropdown-animated scale-left">
								<div class="pointer" data-toggle="dropdown">
									<div class="avatar avatar-image  m-h-10 m-r-15">
										<img src="~/css/assets/images/avatars/thumb-3.jpg" alt="">
									</div>
								</div>
								<div class="p-b-15 p-t-20 dropdown-menu pop-profile">
									<div class="p-h-20 p-b-15 m-b-10 border-bottom">
										<div class="d-flex m-r-50">
											<div class="avatar avatar-lg avatar-image">
												<img src="~/css/assets/images/avatars/thumb-3.jpg" alt="">
											</div>
											<div class="m-l-10">
												<p class="m-b-0 text-dark font-weight-semibold">Marshall Nichols</p>
												<p class="m-b-0 opacity-07">UI/UX Desinger</p>
											</div>
										</div>
									</div>
									<a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
										<div class="d-flex align-items-center justify-content-between">
											<div>
												<i class="anticon opacity-04 font-size-16 anticon-user"></i>
												<span class="m-l-10">Edit Profile</span>
											</div>
											<i class="anticon font-size-10 anticon-right"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
										<div class="d-flex align-items-center justify-content-between">
											<div>
												<i class="anticon opacity-04 font-size-16 anticon-lock"></i>
												<span class="m-l-10">Account Setting</span>
											</div>
											<i class="anticon font-size-10 anticon-right"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
										<div class="d-flex align-items-center justify-content-between">
											<div>
												<i class="anticon opacity-04 font-size-16 anticon-project"></i>
												<span class="m-l-10">Projects</span>
											</div>
											<i class="anticon font-size-10 anticon-right"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
										<div class="d-flex align-items-center justify-content-between">
											<div>
												<i class="anticon opacity-04 font-size-16 anticon-logout"></i>
												<span class="m-l-10">Logout</span>
											</div>
											<i class="anticon font-size-10 anticon-right"></i>
										</div>
									</a>
								</div>
							</li>
							<li>
								<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">
									<i class="anticon anticon-appstore"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Header END -->
				<!-- Side Nav START -->
				<div class="side-nav">
					<div class="side-nav-inner">
						<ul class="side-nav-menu scrollable">
							<!--Ngọc Trạng 15/04/2024 add options of admin-->
							<li class="nav-item dropdown">
								<!--schedule-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">Schedule</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="ScheduleAdmin" asp-action="Index"><i class="menu-options-admin"></i> Schedule list</a>
									</li>
									<li>
										<a asp-controller="ScheduleAdmin" asp-action="Add"><i class="menu-options-admin"></i> Add new schedule</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<!--port-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">Port</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="PortAdmin" asp-action="Index"><i class="menu-options-admin"></i> Port list</a>
									</li>
									<li>
										<a asp-controller="PortAdmin" asp-action="Add"><i class="menu-options-admin"></i> Add new port</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<!--Container-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">Container</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="ContainerAdmin" asp-action="Index"><i class="menu-options-admin"></i> Container list</a>
									</li>
									<li>
										<a asp-controller="ContainerAdmin" asp-action="Add"><i class="menu-options-admin"></i> Add new container</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<!--Ship-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">Ship</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="ShipAdmin" asp-action="Index"><i class="menu-options-admin"></i> Ship list</a>
									</li>
									<li>
										<a asp-controller="ShipAdmin" asp-action="Add"><i class="menu-options-admin"></i> Add new Ship</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<!--Warehouse-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">Warehouse</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="WareHouseAdmin" asp-action="Index"><i class="menu-options-admin"></i> Warehouse list</a>
									</li>
									<li>
										<a asp-controller="WareHouseAdmin" asp-action="Add"><i class="menu-options-admin"></i> Add new Warehouse</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<!--Invoice-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">Invoice</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="InvoiceAdmin" asp-action="Index"><i class="menu-options-admin"></i> Invoice list</a>
									</li>
									<li>
										<a asp-controller="InvoiceAdmin" asp-action="SelectAdd"><i class="menu-options-admin"></i> Add new invoice</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<!--CostsIncurred-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">CostsIncurred</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="CostsIncurredAdmin" asp-action="Index"><i class="menu-options-admin"></i> CostsIncurred list</a>
									</li>
									<li>
										<a asp-controller="CostsIncurredAdmin" asp-action="SelectAdd"><i class="menu-options-admin"></i> Add new CostsIncurred</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<!--Bookingwarehouse-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">Bookingwarehouse</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="BookingWareHouseAdmin" asp-action="Index"><i class="menu-options-admin"></i> Bookingwarehouse list</a>
									</li>
									<li>
										<a asp-controller="BookingWareHouseAdmin" asp-action="SelectAdd"><i class="menu-options-admin"></i> Add new Bookingwarehouse</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown"><!--Tracking-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">Tracking</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="TrackingAdmin" asp-action="Index"><i class="menu-options-admin"></i> Tracking list</a>
									</li>
									<li>
										<a asp-controller="TrackingAdmin" asp-action="SelectSchedule"><i class="menu-options-admin"></i> Edit list tracking</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<!--User List-->
								<a class="dropdown-toggle" href="javascript:void(0);">
									<span class="icon-holder">
										<i class="anticon anticon-dashboard"></i>
									</span>
									<span class="title">User List</span>
									<span class="arrow">
										<i class="arrow-icon"></i>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li class="active">
										<a asp-controller="Users" asp-action="GetUserList"><i class="menu-options-admin"></i> User list</a>
									</li>
									@* <li>
									<a asp-controller="BookingWareHouseAdmin" asp-action="SelectAdd"><i class="menu-options-admin"></i> Add new Bookingwarehouse</a>
									</li> *@
								</ul>
							</li>
							
						</ul>
					</div>
				</div>
				<!-- Side Nav END -->
				<!-- Page Container START -->
				<div class="page-container">
					<!-- Content Wrapper START -->
					<div style="padding-left: 100px; padding-right: 100px;">
					<div class="container">
						<div class="Namepage"><h2>List of Ship</h2></div>
						<div class="content">
							<table class="table">
								<thead>
									<tr>
										<th>Ship code</th>
										<th>Ship name</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var ship in Model)
									{
										<tr>
											<td>@ship.ShipCode</td>
											<td><p>@ship.ShipName</p></td>
											<td>
												<a asp-action="Update" asp-route-id="@ship.ShipId">Update</a>
												@* <a asp-action="Delete" asp-route-id="@ship.ShipId">Delete</a> *@
											</td>

										</tr>
									}

								</tbody>
							</table>
						</div>

						<div class="Action">
							<a asp-action="Add">Add new ship</a>
						</div>
					</div>
					</div>
				</div>
				<!-- Content Wrapper END -->

			</div>
			<!-- Page Container END -->
			<!-- Search Start-->
			<div class="modal modal-left fade search" id="search-drawer">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header justify-content-between align-items-center">
							<h5 class="modal-title">Search</h5>
							<button type="button" class="close" data-dismiss="modal">
								<i class="anticon anticon-close"></i>
							</button>
						</div>
						<div class="modal-body scrollable">
							<div class="input-affix">
								<i class="prefix-icon anticon anticon-search"></i>
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<div class="m-t-30">
								<h5 class="m-b-20">Files</h5>
								<div class="d-flex m-b-30">
									<div class="avatar avatar-cyan avatar-icon">
										<i class="anticon anticon-file-excel"></i>
									</div>
									<div class="m-l-15">
										<a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Quater Report.exl</a>
										<p class="m-b-0 text-muted font-size-13">by Finance</p>
									</div>
								</div>
								<div class="d-flex m-b-30">
									<div class="avatar avatar-blue avatar-icon">
										<i class="anticon anticon-file-word"></i>
									</div>
									<div class="m-l-15">
										<a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Documentaion.docx</a>
										<p class="m-b-0 text-muted font-size-13">by Developers</p>
									</div>
								</div>
								<div class="d-flex m-b-30">
									<div class="avatar avatar-purple avatar-icon">
										<i class="anticon anticon-file-text"></i>
									</div>
									<div class="m-l-15">
										<a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Recipe.txt</a>
										<p class="m-b-0 text-muted font-size-13">by The Chef</p>
									</div>
								</div>
								<div class="d-flex m-b-30">
									<div class="avatar avatar-red avatar-icon">
										<i class="anticon anticon-file-pdf"></i>
									</div>
									<div class="m-l-15">
										<a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Project Requirement.pdf</a>
										<p class="m-b-0 text-muted font-size-13">by Project Manager</p>
									</div>
								</div>
							</div>
							<div class="m-t-30">
								<h5 class="m-b-20">Members</h5>
								<div class="d-flex m-b-30">
									<div class="avatar avatar-image">
										<img src="~/css/assets/images/avatars/thumb-1.jpg" alt="">
									</div>
									<div class="m-l-15">
										<a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Erin Gonzales</a>
										<p class="m-b-0 text-muted font-size-13">UI/UX Designer</p>
									</div>
								</div>
								<div class="d-flex m-b-30">
									<div class="avatar avatar-image">
										<img src="~/css/assets/images/avatars/thumb-2.jpg" alt="">
									</div>
									<div class="m-l-15">
										<a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Darryl Day</a>
										<p class="m-b-0 text-muted font-size-13">Software Engineer</p>
									</div>
								</div>
								<div class="d-flex m-b-30">
									<div class="avatar avatar-image">
										<img src="~/css/assets/images/avatars/thumb-3.jpg" alt="">
									</div>
									<div class="m-l-15">
										<a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Marshall Nichols</a>
										<p class="m-b-0 text-muted font-size-13">Data Analyst</p>
									</div>
								</div>
							</div>
							<div class="m-t-30">
								<h5 class="m-b-20">News</h5>
								<div class="d-flex m-b-30">
									<div class="avatar avatar-image">
										<img src="~/css/assets/images/others/img-1.jpg" alt="">
									</div>
									<div class="m-l-15">
										<a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">5 Best Handwriting Fonts</a>
										<p class="m-b-0 text-muted font-size-13">
											<i class="anticon anticon-clock-circle"></i>
											<span class="m-l-5">25 Nov 2018</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Search End-->
			<!-- Quick View START -->
			<div class="modal modal-right fade quick-view" id="quick-view">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header justify-content-between align-items-center">
							<h5 class="modal-title">Theme Config</h5>
						</div>
						<div class="modal-body scrollable">
							<div class="m-b-30">
								<h5 class="m-b-0">Header Color</h5>
								<p>Config header background color</p>
								<div class="theme-configurator d-flex m-t-10">
									<div class="radio">
										<input id="header-default" name="header-theme" type="radio" checked value="default">
										<label for="header-default"></label>
									</div>
									<div class="radio">
										<input id="header-primary" name="header-theme" type="radio" value="primary">
										<label for="header-primary"></label>
									</div>
									<div class="radio">
										<input id="header-success" name="header-theme" type="radio" value="success">
										<label for="header-success"></label>
									</div>
									<div class="radio">
										<input id="header-secondary" name="header-theme" type="radio" value="secondary">
										<label for="header-secondary"></label>
									</div>
									<div class="radio">
										<input id="header-danger" name="header-theme" type="radio" value="danger">
										<label for="header-danger"></label>
									</div>
								</div>
							</div>
							<hr>
							<div>
								<h5 class="m-b-0">Side Nav Dark</h5>
								<p>Change Side Nav to dark</p>
								<div class="switch d-inline">
									<input type="checkbox" name="side-nav-theme-toogle" id="side-nav-theme-toogle">
									<label for="side-nav-theme-toogle"></label>
								</div>
							</div>
							<hr>
							<div>
								<h5 class="m-b-0">Folded Menu</h5>
								<p>Toggle Folded Menu</p>
								<div class="switch d-inline">
									<input type="checkbox" name="side-nav-fold-toogle" id="side-nav-fold-toogle">
									<label for="side-nav-fold-toogle"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Quick View END -->
		</div>
	</div>


	<!-- Core Vendors JS -->
	<script src="~/css/assets/js/vendors.min.js"></script>

	<!-- page js -->
	<script src="~/css/assets/vendors/chartjs/Chart.min.js"></script>
	<script src="~/css/assets/js/pages/dashboard-default.js"></script>

	<!-- Core JS -->
	<script src="~/css/assets/js/app.min.js"></script>


</body>

</html>