﻿@using Microsoft.AspNetCore.Identity
@using LogisticsWebsite_WebProgramingProject.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link p-0 text-dark" asp-controller="Admin" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item p-0">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
             <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link p-0 text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    <li class="nav-item">
            <a class="nav-link p-0 text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
