﻿﻿@{
    ViewData["Title"] = "Home Page";
}
<!-- BANNER SECTION START HERE -->

<section class="banner-main-section w-100 float-left">
    <div class="container-fluid">
        <div class="banner-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="banner-left-con">
                <h1>We Provide Safest <span class="d-inline-block">Transport & Logistics</span> Solutions.</h1>
                <p>
                    CargoX provides efficient logistic services
                    through its global network.
                </p>
                <div class="banner-btns">
                    <div class="generic-btn">
                        <a asp-controller="BookingInfomation" asp-action="Add"> Get Started</a>
                    </div>
                    <div class="generic-btn read-more-btn">
                        <a asp-action="Contact" asp-controller="Home">Read more</a>
                    </div>
                </div>
                <div class="banner-customers-con">
                    <ul class="list-unstyled mb-0 d-flex">
                        <li>
                            <figure class="mb-0">
                                <img src="/images/customer-img1.jpg" alt="customer-img1">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="/images/customer-img2.jpg" alt="customer-img2">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="/images/customer-img3.jpg" alt="customer-img3">
                            </figure>
                        </li>
                    </ul>
                    <div class="number-of-customers">
                        <span class="d-block">278k+</span>
                        <p class="mb-0">Satisfied Customers</p>
                    </div>
                </div>
            </div>
            <div class="banner-right-con">
                <div class="banner-right-imgs">
                    <figure class="mb-0">
                        <img src="/images/banner-right-img.jpg" alt="banner-right-img">
                    </figure>
                    <figure class="mb-0 banner-right-img-shape">
                        <img src="/images/banner-right-shape.png" alt="banner-right-shape">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BANNER SECTION END HERE -->
<!-- INDEX1 SERVICE SECTION START HERE -->
<section class="index1-services-section w-100 float-left padding-top padding-bottom white-bg">
    <div class="container">
        <div class="generic-title text-center" data-aos="fade-up" data-aos-duration="700">
            <span>What We Provide</span>
            <h2>Popular Logistics Services</h2>
        </div>
        <div class="index1-services-inner-con" data-aos="fade-up" data-aos-duration="700">

            <div class="index1-service-con">
                <figure>
                    <img src="/images/index1-service-icon2.png" alt="index1-service-icon2">
                </figure>
                <h3>Ocean Freight</h3>
                <p>
                    Duis aute irure dolor in reae
                    in voluptate velit esse cillum
                    dolore aeu fugiat.
                </p>
                <a asp-action="Add" asp-controller="BookingInformation">Booking <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="index1-service-con">
                <figure>
                    <img src="/images/index1-service-icon4.png" alt="index1-service-icon4">
                </figure>
                <h3>Warehouse</h3>
                <p>
                    Duis aute irure dolor in reae
                    in voluptate velit esse cillum
                    dolore aeu fugiat.
                </p>
                <a asp-action="Add" asp-controller="BookingWareHouse">Booking <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="generic-btn" data-aos="fade-up" data-aos-duration="700">
            <div class="generic-btn read-more-btn">
                <a asp-action="Contact" asp-controller="Home">View All</a>
            </div>
        </div>
    </div>
</section>
<!-- INDEX1 SERVICE SECTION END HERE -->
<!-- CHOOSE SECTION START HERE -->
<section class="index1-choose-section w-100 float-left padding-top padding-bottom">
    <div class="container">
        <div class="index1-choose-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="index1-choose-left-con">
                <div class="generic-title">
                    <span>Why Choose Us</span>
                    <h2>
                        We are Here to Move
                        Anything Anywhere
                    </h2>
                </div>
                <div class="benefits-outer-section">
                    <div class="benefits-con">
                        <figure class="mb-0">
                            <img src="/images/benefits-img1.png" alt="benefits-img1">
                        </figure>
                        <div class="benefits-details-con">
                            <h3>Full Safety</h3>
                            <p>
                                Unwavering security, your cargo arrives worry-free.
                            </p>
                        </div>
                    </div>
                    <div class="benefits-con">
                        <figure class="mb-0">
                            <img src="/images/benefits-img2.png" alt="benefits-img2">
                        </figure>
                        <div class="benefits-details-con">
                            <h3>Tracking</h3>
                            <p>
                                Real-time visibility, stay informed every step of the way.
                            </p>
                        </div>
                    </div>
                    <div class="benefits-con">
                        <figure class="mb-0">
                            <img src="/images/benefits-img3.png" alt="benefits-img3">
                        </figure>
                        <div class="benefits-details-con">
                            <h3>Easy Payment</h3>
                            <p>
                                Seamless transactions, focus on your business, not the bill.
                            </p>
                        </div>
                    </div>
                    <div class="benefits-con">
                        <figure class="mb-0">
                            <img src="/images/benefits-img4.png" alt="benefits-img4">
                        </figure>
                        <div class="benefits-details-con">
                            <h3>Full Support</h3>
                            <p>
                                Dedicated expertise, we're there to answer your questions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="generic-btn">
                    <div class="generic-btn">
                        <a asp-controller="BookingInfomation" asp-action="Add"> Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- TRACK SECTION START HERE -->
<section class="track-shipment-section w-100 float-left padding-top padding-bottom">
    <div class="container">
        <div class="tracking-outer-con" data-aos="fade-up" data-aos-duration="700">
            <div class="tracking-left-con">
                <div class="generic-title">
                    <span>Shippment Tracking</span>
                    <h2>
                        Track or Calculate Your
                        Shipment With Us
                    </h2>
                </div>
                <p class="mb-0">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                    sequi nesciunt nerue porro ruisuam.
                </p>
            </div>
            <div class="tracking-right-con">
                <div class="tracking-code">
                    <h3>
                        Track Your Shipment
                        Now
                    </h3>
                    <input type="text" placeholder="Enter Your Shipment Code" required>
                    <select name="service" id="service">
                        <option value="service">Select Your Service</option>
                        <option value="warehouse">Warehouse</option>
                        <option value="aircargo">Air Cargo</option>
                        <option value="shipment">Shipment</option>
                    </select>
                    <button type="submit"><a class="dropdown-item" asp-controller="BillOfLading" asp-action="Details">Track Now</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TRACK SECTION END HERE -->
<!-- INDEX1 TEAMS SECTION START HERE -->
<section class="index1-teams-section w-100 float-left padding-top padding-bottom light-bg">
    <div class="container">
        <div class="generic-title text-center" data-aos="fade-up" data-aos-duration="700">
            <span>Team Members</span>
            <h2>Meet The Professionals</h2>
        </div>
        <div class="index1-teams-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img class="rounded mx-auto d-block" src="~/Images/TranVietDuc.jpg" style="height:255px; width:255px; alt="index1-team-member1">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Duc Tran Viet</h4>
                    <span>Manager</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img class="rounded mx-auto d-block" src="~/Images/SieuNguyenThanh.jpg" style="height:255px; width:255px; alt="index1-team-member2">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Sieu Nguyen Thanh</h4>
                    <span>Manager</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img class="rounded mx-auto d-block" src="~/Images/Trang.jpg" style="height:255px; width:255px;" alt="index1-team-member3">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Trang Dang Le Ngoc</h4>
                    <span>Manager</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img class="rounded mx-auto d-block" src="~/Images/Phuong.jpg" style="height:255px; width:255px;" alt="index1-team-member4">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Phuong Tran Le Uyen</h4>
                    <span>Manager</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img class="rounded mx-auto d-block" src="~/Images/Nghia.jpg" style="height:255px; width:255px; " alt="index1-team-member4">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Nghia Le Tran Trong</h4>
                    <span>Manager</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- INDEX1 TEAMS SECTION END HERE -->
<!-- TESTIMONIAL SECTION SATRT HERE -->
<section class="index1-testimonial-section w-100 float-left padding-top padding-bottom white-bg">
    <div class="container">
        <div class="index1-testimonial-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="index1-testimonial-left-con generic-title mb-0">
                <h2>
                    Over 3 Million Happy
                    Clients Trusted us in
                    The World
                </h2>
            </div>
            <div class="index1-testimonial-right-con">
                <div class="owl-carousel owl-theme" id="owl-carouseltestimonial">
                    <div class="item">
                        <div class="index1-testimonial-slide">
                            <figure>
                                <img src="/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>
                                "CargoX is a game-changer! Their transparent communication and efficient tracking system kept me informed every step of the way. The customer support was also fantastic, always helpful and responsive. I'm truly impressed!"
                            </p>
                            <div class="index1-reviewer-detail">
                                <figure class="mb-0">
                                    <img src="/images/index1-reviewer-img.png" alt="index1-reviewer-img">
                                </figure>
                                <div class="index1-reviewer-con">
                                    <span>John Carter</span>
                                    <small>San Francisco, CA</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="index1-testimonial-slide">
                            <figure>
                                <img src="/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>
                                "I never thought shipping internationally could be so hassle-free! CargoX took care of all the complexities, ensuring my shipment arrived safely and securely. Their professionalism and expertise are truly top-notch."
                            </p>
                            <div class="index1-reviewer-detail">
                                <figure class="mb-0">
                                    <img src="/images/index1-reviewer-img.png" alt="index1-reviewer-img">
                                </figure>
                                <div class="index1-reviewer-con">
                                    <span>Sophie Moore</span>
                                    <small>New York, NY</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="index1-testimonial-slide">
                            <figure>
                                <img src="/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>
                                "CargoX is my go-to logistics partner now. They consistently deliver on their promises. My recent import was handled flawlessly, with clear documentation and efficient customs clearance. Makes a world of difference!"
                            </p>
                            <div class="index1-reviewer-detail">
                                <figure class="mb-0">
                                    <img src="/images/index1-reviewer-img.png" alt="index1-reviewer-img">
                                </figure>
                                <div class="index1-reviewer-con">
                                    <span>Matt Cannon</span>
                                    <small>London, UK</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button class="prev-btn"><i class="fas fa-arrow-left"></i></button>
                    <button class="next-btn"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIAL SECTION start HERE -->
<!-- INDEX1 FORM SECTION END HERE -->
<!--BANNER QUOTE HERE ="index1-form-main-section w-100 float-left padding-top padding-bottom light-bg" ="container" class="generic-title text-center" data-aos="fade-up" data-aos-duration="700"-->
<section>
    <div class="roww">
        <h1>Ready to pull a trigger? Get a quote today.</h1>

        <button class="button button5">
            <a class="nav-link text-dark" asp-area="" asp-action="Add" asp-controller="BookingInfomation">Get a quote</a>
        </button>

    </div>
</section>
<!-- SECTION END HERE -->
